html {
    color: #000000;
    background: #ffffff;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    
}


.lettuce, .sausage, .lights-turned-off{
   background-color: #ffffff;
   display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    width: 80%;
    height: 100%;
    line-height: 2em;
}

.lettuce h1 {
    line-height: 40px;
}

.lettuce h2, h1{
    text-align: center;
    
}

.lettuce header {
    padding: 50px 0;
}
  
.lights-turned-off {
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    header {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
       
        
    }


    .lettuce {
        display: flex;
        width: 80%;
      
    }

    .lettuce h1 {
        line-height: 2em;
        /*width: 80%;*/
        font-size: 2em;
    }



    input {
        width: 500px;
    }


}